USE [master]
GO
/****** Object:  Database [FACTORY]    Script Date: 6/1/2017 3:31:49 PM ******/
CREATE DATABASE [FACTORY] ON  PRIMARY 
( NAME = N'FACTORY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FACTORY.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FACTORY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FACTORY_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACTORY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACTORY]
GO
/****** Object:  User [arif]    Script Date: 6/1/2017 3:31:49 PM ******/
CREATE USER [arif] FOR LOGIN [datasale] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ConpanyInformation]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConpanyInformation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[address_1] [varchar](50) NULL,
	[address_2] [varchar](50) NULL,
	[mobile_1] [varchar](50) NULL,
	[mobile_2] [varchar](50) NULL,
	[phone_1] [varchar](50) NULL,
	[phone_2] [varchar](50) NULL,
	[fax_1] [varchar](50) NULL,
	[fax_2] [varchar](50) NULL,
	[vat_no] [varchar](50) NULL,
	[trade_license] [varchar](50) NULL,
	[tin_no] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[website] [varchar](50) NULL,
	[vat_rate] [float] NULL,
	[status] [int] NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_company_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactoryFloor]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactoryFloor](
	[FactoryFloorId] [int] IDENTITY(1,1) NOT NULL,
	[FactoryFloorName] [varchar](100) NULL,
 CONSTRAINT [PK_FactoryFloor] PRIMARY KEY CLUSTERED 
(
	[FactoryFloorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactoryRawCategory]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactoryRawCategory](
	[RawCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[RawCategoryName] [varchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[RawCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactorySection]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorySection](
	[FactorySectionId] [int] IDENTITY(1,1) NOT NULL,
	[FloorId] [int] NULL,
	[FactorySectionName] [varchar](100) NULL,
 CONSTRAINT [PK_FactorySection] PRIMARY KEY CLUSTERED 
(
	[FactorySectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactorySupplier]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorySupplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [varchar](50) NULL,
	[SupplierName] [varchar](50) NULL,
	[SupplierContactPerson] [varchar](50) NULL,
	[SupplierPhone] [varchar](50) NULL,
	[SupplierVatRegNo] [varchar](50) NULL,
	[SupplierEmail] [varchar](50) NULL,
	[SupplierAddress] [varchar](50) NULL,
 CONSTRAINT [PK_supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactoryTempPurchase]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactoryTempPurchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Quantity] [float] NOT NULL,
	[PurchasePrice] [float] NOT NULL,
	[PurchaseNo] [varchar](50) NOT NULL,
	[PurchasePriceTotal] [float] NOT NULL,
	[PurchaseDate] [varchar](50) NULL,
 CONSTRAINT [PK_temp_purchase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FactoryUnit]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactoryUnit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [varchar](50) NOT NULL,
	[UnitValue] [float] NULL,
 CONSTRAINT [PK_unit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinGoodsDistribution]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinGoodsDistribution](
	[DistributionID] [int] IDENTITY(1,1) NOT NULL,
	[DistributionNo] [varchar](50) NULL,
	[DistributionDate] [varchar](50) NULL,
	[DistributionTime] [varchar](50) NULL,
	[DistributionAreaId] [int] NULL,
	[FinishedGoodsId] [int] NULL,
	[Quantity] [float] NULL,
	[DistRequisitionNo] [varchar](100) NULL,
	[DistRequestBy] [varchar](100) NULL,
	[DistributionRemarks] [varchar](500) NULL,
 CONSTRAINT [PK_FinGoodsDistribution] PRIMARY KEY CLUSTERED 
(
	[DistributionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinGoodsDistributionArea]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinGoodsDistributionArea](
	[DistributionAreaId] [int] IDENTITY(1,1) NOT NULL,
	[DistributionAreaName] [varchar](100) NULL,
 CONSTRAINT [PK_ConsumptionArea] PRIMARY KEY CLUSTERED 
(
	[DistributionAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinishedGoods]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishedGoods](
	[FinishedGoodsId] [int] IDENTITY(1,1) NOT NULL,
	[FinishedGoodsName] [varchar](100) NULL,
	[FinishedGoodsUnitId] [int] NULL,
	[FinishedGoodsStock] [float] NULL,
	[FinishedGoodsDescription] [varchar](500) NULL,
	[FinishedGoodsStatus] [int] NULL,
 CONSTRAINT [PK_FinishedGoods] PRIMARY KEY CLUSTERED 
(
	[FinishedGoodsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinishedGoodsReceive]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishedGoodsReceive](
	[FinishedGoodsReceiveId] [int] IDENTITY(1,1) NOT NULL,
	[FinishedGoodsReceiveNo] [varchar](50) NULL,
	[FinishedGoodsReceiveSectionId] [int] NULL,
	[FinishedGoodsReceiveDate] [varchar](50) NULL,
	[FinishedGoodsReceiveInvoiceNo] [varchar](50) NULL,
	[FinishedGoodsReceiveProdId] [int] NULL,
	[FinishedGoodsReceiveProdQty] [float] NULL,
	[FinishedGoodsReceiveRemarks] [varchar](500) NULL,
 CONSTRAINT [PK_FinishedGoodsReceive] PRIMARY KEY CLUSTERED 
(
	[FinishedGoodsReceiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseRawMaterial]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PurchaseRawMaterial](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseNo] [varchar](50) NULL,
	[PurchaseDate] [varchar](50) NULL,
	[SupplierID] [int] NULL,
	[PurchaseSupplierInvoiceNo] [varchar](150) NULL,
	[PurchaseRemarks] [varchar](50) NULL,
	[PurchaseProductID] [int] NULL,
	[PurchaseProductPrice] [float] NULL,
	[PurchaseQuantity] [float] NULL,
	[PurchaseTotal] [float] NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Query]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Query](
	[SalesID] [float] NOT NULL,
	[CompanyID] [float] NULL,
	[SalesNo] [varchar](255) NULL,
	[SalesDate] [nvarchar](255) NULL,
	[SalesTime] [nvarchar](255) NULL,
	[SalesCustomerID] [float] NULL,
	[SalesRemarks] [nvarchar](255) NULL,
	[Reference] [nvarchar](255) NULL,
	[SalesProductID] [float] NULL,
	[SalesPurchasePrice] [float] NULL,
	[SalesSalePrice] [float] NULL,
	[SalesQuantity] [float] NULL,
	[SalesProductDiscount] [float] NULL,
	[SalesTotal] [float] NULL,
	[SalesCustomerName] [nvarchar](255) NULL,
	[SalesSoldBy] [nvarchar](255) NULL,
	[SalesReceivedAmount] [float] NULL,
	[SalesChangeAmount] [float] NULL,
	[SalesVatRate] [float] NULL,
	[SalesVatTotal] [float] NULL,
	[SalesPuechaseBy] [nvarchar](255) NULL,
	[SalesPurchaseByContact] [nvarchar](255) NULL,
	[IsChequeReceive] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RawMaterial]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RawMaterial](
	[RawMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[RawMaterialCatId] [int] NULL,
	[RawMaterialName] [varchar](100) NULL,
	[RawMaterialUnitId] [int] NULL,
	[RawMaterialPurPrice] [float] NULL,
	[RawMaterialStock] [float] NULL,
	[RawMaterialDescription] [varchar](500) NULL,
	[RawMaterialStatus] [int] NULL,
 CONSTRAINT [PK_RawMaterial] PRIMARY KEY CLUSTERED 
(
	[RawMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RawMaterialConsumption]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RawMaterialConsumption](
	[ConsumptionID] [int] IDENTITY(1,1) NOT NULL,
	[ConsumptionNo] [varchar](50) NULL,
	[ConsumptionDate] [varchar](50) NULL,
	[ConsumptionTime] [varchar](50) NULL,
	[FactorySectionId] [int] NULL,
	[RawMaterialID] [int] NULL,
	[Quantity] [float] NULL,
	[RequisitionNo] [varchar](100) NULL,
	[RequestBy] [varchar](100) NULL,
	[RequisitionFor] [varchar](500) NULL,
	[ConsumptionRemarks] [varchar](500) NULL,
 CONSTRAINT [PK_RawMaterialConsumption] PRIMARY KEY CLUSTERED 
(
	[ConsumptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SemiFinishedProduct]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SemiFinishedProduct](
	[SemiFinishedProductId] [int] IDENTITY(1,1) NOT NULL,
	[SemiFinishedProductName] [varchar](100) NULL,
	[SemiFinishedProductDescription] [varchar](150) NULL,
 CONSTRAINT [PK_SemiFinishedProduct] PRIMARY KEY CLUSTERED 
(
	[SemiFinishedProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempConsumption]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempConsumption](
	[TempConsumptionID] [int] IDENTITY(1,1) NOT NULL,
	[TempConsumptionNo] [varchar](50) NULL,
	[TempConsumptionDate] [varchar](50) NULL,
	[TempConsumptionTime] [varchar](50) NULL,
	[TempConsumptionSectionID] [int] NULL,
	[TempConsumptionRequisitionNo] [varchar](50) NULL,
	[TempConsumptionRequisitionFor] [varchar](100) NULL,
	[TempConsumptionRequestBy] [varchar](100) NULL,
	[TempConsumptionRemarks] [varchar](500) NULL,
	[TempConsumptionProductID] [int] NULL,
	[TempConsumptionProductName] [varchar](100) NULL,
	[TempConsumptionQuantity] [float] NULL,
	[TempConsumptionSoldBy] [varchar](50) NULL,
 CONSTRAINT [PK_TempConsumption] PRIMARY KEY CLUSTERED 
(
	[TempConsumptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempDistribution]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempDistribution](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DistributionAreaId] [int] NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](50) NULL,
	[Quantity] [float] NULL,
	[DistributionNo] [varchar](50) NULL,
	[DistributionDate] [varchar](50) NULL,
 CONSTRAINT [PK_TempDistribution] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempFinGdReceive]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempFinGdReceive](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SectionID] [int] NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](50) NULL,
	[Quantity] [float] NULL,
	[ReceiveNo] [varchar](50) NULL,
	[ReceiveDate] [varchar](50) NULL,
 CONSTRAINT [PK_TempFinGdReceive] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ConpanyInformation] ON 

INSERT [dbo].[ConpanyInformation] ([id], [name], [address_1], [address_2], [mobile_1], [mobile_2], [phone_1], [phone_2], [fax_1], [fax_2], [vat_no], [trade_license], [tin_no], [email], [website], [vat_rate], [status], [Image]) VALUES (4, N'Saimex Leather Products Ltd.', N'House 42/A, Road 9/A, Dhanmondi, Dhaka - 1209', N'', N'01713266074', N'', N'0088239784', N'', N'0088239784', N'', N'12345678', N'45791234v5', N'67823456', N'info@saimexleather.com', N'www.saimexleather.com', 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[ConpanyInformation] OFF
SET IDENTITY_INSERT [dbo].[FactoryFloor] ON 

INSERT [dbo].[FactoryFloor] ([FactoryFloorId], [FactoryFloorName]) VALUES (1, N'Warehouse 1')
INSERT [dbo].[FactoryFloor] ([FactoryFloorId], [FactoryFloorName]) VALUES (2, N'Warehouse 2')
INSERT [dbo].[FactoryFloor] ([FactoryFloorId], [FactoryFloorName]) VALUES (3, N'Warehouse 3')
SET IDENTITY_INSERT [dbo].[FactoryFloor] OFF
SET IDENTITY_INSERT [dbo].[FactoryRawCategory] ON 

INSERT [dbo].[FactoryRawCategory] ([RawCategoryId], [RawCategoryName]) VALUES (1, N'IKA')
INSERT [dbo].[FactoryRawCategory] ([RawCategoryId], [RawCategoryName]) VALUES (2, N'Glue')
INSERT [dbo].[FactoryRawCategory] ([RawCategoryId], [RawCategoryName]) VALUES (3, N'Water12')
SET IDENTITY_INSERT [dbo].[FactoryRawCategory] OFF
SET IDENTITY_INSERT [dbo].[FactorySection] ON 

INSERT [dbo].[FactorySection] ([FactorySectionId], [FloorId], [FactorySectionName]) VALUES (1, 1, N'Cutting')
INSERT [dbo].[FactorySection] ([FactorySectionId], [FloorId], [FactorySectionName]) VALUES (2, 1, N'Table')
INSERT [dbo].[FactorySection] ([FactorySectionId], [FloorId], [FactorySectionName]) VALUES (3, 1, N'Sweing')
SET IDENTITY_INSERT [dbo].[FactorySection] OFF
SET IDENTITY_INSERT [dbo].[FactorySupplier] ON 

INSERT [dbo].[FactorySupplier] ([SupplierID], [CompanyID], [SupplierName], [SupplierContactPerson], [SupplierPhone], [SupplierVatRegNo], [SupplierEmail], [SupplierAddress]) VALUES (1, N'01', N'Modina Group', N'Mohon', N'01751187215', N'1122', N'mn.mohon@gmai.com', N'Klilkhet, Dhaka - 1229')
INSERT [dbo].[FactorySupplier] ([SupplierID], [CompanyID], [SupplierName], [SupplierContactPerson], [SupplierPhone], [SupplierVatRegNo], [SupplierEmail], [SupplierAddress]) VALUES (2, N'01', N'Pran Group', N'Mr.Harun', N'0258799633', N'398', N'harun@gmail.com', N'Badda, Dhaka - 1230')
SET IDENTITY_INSERT [dbo].[FactorySupplier] OFF
SET IDENTITY_INSERT [dbo].[FactoryUnit] ON 

INSERT [dbo].[FactoryUnit] ([UnitID], [UnitName], [UnitValue]) VALUES (1, N'KG', NULL)
INSERT [dbo].[FactoryUnit] ([UnitID], [UnitName], [UnitValue]) VALUES (2, N'PCS', NULL)
INSERT [dbo].[FactoryUnit] ([UnitID], [UnitName], [UnitValue]) VALUES (3, N'Grams', NULL)
SET IDENTITY_INSERT [dbo].[FactoryUnit] OFF
SET IDENTITY_INSERT [dbo].[FinGoodsDistribution] ON 

INSERT [dbo].[FinGoodsDistribution] ([DistributionID], [DistributionNo], [DistributionDate], [DistributionTime], [DistributionAreaId], [FinishedGoodsId], [Quantity], [DistRequisitionNo], [DistRequestBy], [DistributionRemarks]) VALUES (1, N'FINDIS-0001', N'2017-03-22', N'11:43:01 AM', 1, 1, 3, N'HO-001', N'Mr. Yamin', N'New Showroom')
INSERT [dbo].[FinGoodsDistribution] ([DistributionID], [DistributionNo], [DistributionDate], [DistributionTime], [DistributionAreaId], [FinishedGoodsId], [Quantity], [DistRequisitionNo], [DistRequestBy], [DistributionRemarks]) VALUES (2, N'FINDIS-0001', N'2017-03-22', N'11:43:01 AM', 1, 2, 4, N'HO-001', N'Mr. Yamin', N'New Showroom')
SET IDENTITY_INSERT [dbo].[FinGoodsDistribution] OFF
SET IDENTITY_INSERT [dbo].[FinGoodsDistributionArea] ON 

INSERT [dbo].[FinGoodsDistributionArea] ([DistributionAreaId], [DistributionAreaName]) VALUES (1, N'Head Office')
INSERT [dbo].[FinGoodsDistributionArea] ([DistributionAreaId], [DistributionAreaName]) VALUES (2, N'Show Room 1')
INSERT [dbo].[FinGoodsDistributionArea] ([DistributionAreaId], [DistributionAreaName]) VALUES (3, N'Show Room 2')
SET IDENTITY_INSERT [dbo].[FinGoodsDistributionArea] OFF
SET IDENTITY_INSERT [dbo].[FinishedGoods] ON 

INSERT [dbo].[FinishedGoods] ([FinishedGoodsId], [FinishedGoodsName], [FinishedGoodsUnitId], [FinishedGoodsStock], [FinishedGoodsDescription], [FinishedGoodsStatus]) VALUES (1, N'SLPL-BE-001', 2, 80, NULL, NULL)
INSERT [dbo].[FinishedGoods] ([FinishedGoodsId], [FinishedGoodsName], [FinishedGoodsUnitId], [FinishedGoodsStock], [FinishedGoodsDescription], [FinishedGoodsStatus]) VALUES (2, N'SLPL-BE-002', 2, 50, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FinishedGoods] OFF
SET IDENTITY_INSERT [dbo].[FinishedGoodsReceive] ON 

INSERT [dbo].[FinishedGoodsReceive] ([FinishedGoodsReceiveId], [FinishedGoodsReceiveNo], [FinishedGoodsReceiveSectionId], [FinishedGoodsReceiveDate], [FinishedGoodsReceiveInvoiceNo], [FinishedGoodsReceiveProdId], [FinishedGoodsReceiveProdQty], [FinishedGoodsReceiveRemarks]) VALUES (1, N'RECFIN-0001', 1, N'2017-03-19', N'123', 1, 1, N'First Receive')
INSERT [dbo].[FinishedGoodsReceive] ([FinishedGoodsReceiveId], [FinishedGoodsReceiveNo], [FinishedGoodsReceiveSectionId], [FinishedGoodsReceiveDate], [FinishedGoodsReceiveInvoiceNo], [FinishedGoodsReceiveProdId], [FinishedGoodsReceiveProdQty], [FinishedGoodsReceiveRemarks]) VALUES (2, N'RECFIN-0001', 1, N'2017-03-19', N'123', 2, 4, N'First Receive')
INSERT [dbo].[FinishedGoodsReceive] ([FinishedGoodsReceiveId], [FinishedGoodsReceiveNo], [FinishedGoodsReceiveSectionId], [FinishedGoodsReceiveDate], [FinishedGoodsReceiveInvoiceNo], [FinishedGoodsReceiveProdId], [FinishedGoodsReceiveProdQty], [FinishedGoodsReceiveRemarks]) VALUES (3, N'RECFIN-0002', 6, N'2017-03-19', N'123', 2, 10, N'2nd  Receive')
SET IDENTITY_INSERT [dbo].[FinishedGoodsReceive] OFF
SET IDENTITY_INSERT [dbo].[PurchaseRawMaterial] ON 

INSERT [dbo].[PurchaseRawMaterial] ([PurchaseID], [PurchaseNo], [PurchaseDate], [SupplierID], [PurchaseSupplierInvoiceNo], [PurchaseRemarks], [PurchaseProductID], [PurchaseProductPrice], [PurchaseQuantity], [PurchaseTotal]) VALUES (1, N'PURFAC-0001', N'2017-03-14', 1, N'aqwq', N'Na', 1, 100, 2, 200)
INSERT [dbo].[PurchaseRawMaterial] ([PurchaseID], [PurchaseNo], [PurchaseDate], [SupplierID], [PurchaseSupplierInvoiceNo], [PurchaseRemarks], [PurchaseProductID], [PurchaseProductPrice], [PurchaseQuantity], [PurchaseTotal]) VALUES (2, N'PURFAC-0001', N'2017-03-14', 1, N'aqwq', N'Na', 3, 100, 2, 200)
INSERT [dbo].[PurchaseRawMaterial] ([PurchaseID], [PurchaseNo], [PurchaseDate], [SupplierID], [PurchaseSupplierInvoiceNo], [PurchaseRemarks], [PurchaseProductID], [PurchaseProductPrice], [PurchaseQuantity], [PurchaseTotal]) VALUES (3, N'PURFAC-0002', N'2017-03-14', 1, N'121990', N'Na', 1, 100, 2, 200)
SET IDENTITY_INSERT [dbo].[PurchaseRawMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterial] ON 

INSERT [dbo].[RawMaterial] ([RawMaterialId], [RawMaterialCatId], [RawMaterialName], [RawMaterialUnitId], [RawMaterialPurPrice], [RawMaterialStock], [RawMaterialDescription], [RawMaterialStatus]) VALUES (1, 1, N'Ata3', 2, 100, 0, N'Good', 1)
INSERT [dbo].[RawMaterial] ([RawMaterialId], [RawMaterialCatId], [RawMaterialName], [RawMaterialUnitId], [RawMaterialPurPrice], [RawMaterialStock], [RawMaterialDescription], [RawMaterialStatus]) VALUES (3, 1, N'soft Plastic', 2, 25, 1, N'Good', 1)
INSERT [dbo].[RawMaterial] ([RawMaterialId], [RawMaterialCatId], [RawMaterialName], [RawMaterialUnitId], [RawMaterialPurPrice], [RawMaterialStock], [RawMaterialDescription], [RawMaterialStatus]) VALUES (4, 2, N'plastic', 3, 65, 6, N'Good', 1)
SET IDENTITY_INSERT [dbo].[RawMaterial] OFF
SET IDENTITY_INSERT [dbo].[RawMaterialConsumption] ON 

INSERT [dbo].[RawMaterialConsumption] ([ConsumptionID], [ConsumptionNo], [ConsumptionDate], [ConsumptionTime], [FactorySectionId], [RawMaterialID], [Quantity], [RequisitionNo], [RequestBy], [RequisitionFor], [ConsumptionRemarks]) VALUES (1, N'CONFAC-0001', N'2017-03-15', N'6:40:25 PM', 1, 0, 0, N'1234', N'Mr. Joshim', N'SlPlBE001', N'Good Product')
INSERT [dbo].[RawMaterialConsumption] ([ConsumptionID], [ConsumptionNo], [ConsumptionDate], [ConsumptionTime], [FactorySectionId], [RawMaterialID], [Quantity], [RequisitionNo], [RequestBy], [RequisitionFor], [ConsumptionRemarks]) VALUES (2, N'CONFAC-0001', N'2017-03-15', N'6:40:25 PM', 1, 0, 0, N'1234', N'Mr. Joshim', N'SlPlBE001', N'Good Product')
INSERT [dbo].[RawMaterialConsumption] ([ConsumptionID], [ConsumptionNo], [ConsumptionDate], [ConsumptionTime], [FactorySectionId], [RawMaterialID], [Quantity], [RequisitionNo], [RequestBy], [RequisitionFor], [ConsumptionRemarks]) VALUES (3, N'CONFAC-0001', N'2017-03-15', N'6:40:25 PM', 1, 0, 0, N'1234', N'Mr. Joshim', N'SlPlBE001', N'Good Product')
SET IDENTITY_INSERT [dbo].[RawMaterialConsumption] OFF
SET IDENTITY_INSERT [dbo].[SemiFinishedProduct] ON 

INSERT [dbo].[SemiFinishedProduct] ([SemiFinishedProductId], [SemiFinishedProductName], [SemiFinishedProductDescription]) VALUES (1, N'leather belt', N'nice belt')
INSERT [dbo].[SemiFinishedProduct] ([SemiFinishedProductId], [SemiFinishedProductName], [SemiFinishedProductDescription]) VALUES (2, N'leather shoe', N'Nice shoe red color2')
INSERT [dbo].[SemiFinishedProduct] ([SemiFinishedProductId], [SemiFinishedProductName], [SemiFinishedProductDescription]) VALUES (3, N'shoe 102', N'nice show black color')
SET IDENTITY_INSERT [dbo].[SemiFinishedProduct] OFF
/****** Object:  StoredProcedure [dbo].[sp_ConsumptionReportPeoductWise]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsumptionReportPeoductWise]
	@consumption_no varchar(30)
AS
BEGIN
	SELECT     RawMaterialConsumption.ConsumptionNo, RawMaterialConsumption.ConsumptionDate, RawMaterialConsumption.ConsumptionTime, RawMaterialConsumption.RawMaterialID, 
                      RawMaterial.RawMaterialName, RawMaterialConsumption.RequisitionNo, RawMaterialConsumption.Quantity, RawMaterialConsumption.RequestBy, RawMaterialConsumption.RequisitionFor, 
                      RawMaterialConsumption.ConsumptionRemarks, FactorySection.FactorySectionName
FROM         RawMaterialConsumption INNER JOIN
                      RawMaterial ON RawMaterialConsumption.RawMaterialID = RawMaterial.RawMaterialId INNER JOIN
                      FactorySection ON RawMaterialConsumption.FactorySectionId = FactorySection.FactorySectionId WHERE (RawMaterialName = @consumption_no OR FactorySectionName = @consumption_no);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumptionReportShow]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsumptionReportShow]
	@consumption_no varchar(30)
AS
BEGIN
	SELECT     FactoryFloor.FactoryFloorName, FactorySection.FactorySectionName, RawMaterialConsumption.ConsumptionNo, RawMaterialConsumption.ConsumptionDate, 
                      RawMaterialConsumption.RawMaterialID, RawMaterial.RawMaterialName, FactoryUnit.UnitName, RawMaterialConsumption.Quantity, RawMaterialConsumption.RequisitionNo, 
                      RawMaterialConsumption.RequestBy, RawMaterialConsumption.RequisitionFor, RawMaterialConsumption.ConsumptionRemarks
FROM         RawMaterialConsumption INNER JOIN
                      FactorySection ON RawMaterialConsumption.FactorySectionId = FactorySection.FactorySectionId INNER JOIN
                      RawMaterial ON RawMaterialConsumption.RawMaterialID = RawMaterial.RawMaterialId INNER JOIN
                      FactoryFloor ON FactorySection.FloorId = FactoryFloor.FactoryFloorId INNER JOIN
                      FactoryUnit ON RawMaterial.RawMaterialUnitId = FactoryUnit.UnitID WHERE ConsumptionNo = @consumption_no
END

GO
/****** Object:  StoredProcedure [dbo].[sp_FinishedGoodsDistributionReportShow]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FinishedGoodsDistributionReportShow]
	@distribution_no varchar(30)
AS
BEGIN
	SELECT     FinGoodsDistribution.DistributionNo, FinGoodsDistribution.DistributionDate, FinGoodsDistribution.DistributionTime, FinGoodsDistributionArea.DistributionAreaName, 
                      FinGoodsDistribution.FinishedGoodsId, FinishedGoods.FinishedGoodsName, FactoryUnit.UnitName, FinGoodsDistribution.Quantity, FinGoodsDistribution.DistRequisitionNo, FinGoodsDistribution.DistRequestBy, 
                      FinGoodsDistribution.DistributionRemarks
FROM         FinGoodsDistribution INNER JOIN
                      FinGoodsDistributionArea ON FinGoodsDistribution.DistributionAreaId = FinGoodsDistributionArea.DistributionAreaId INNER JOIN
                      FinishedGoods ON FinGoodsDistribution.FinishedGoodsId = FinishedGoods.FinishedGoodsId INNER JOIN
                      FactoryUnit ON FinishedGoods.FinishedGoodsUnitId = FactoryUnit.UnitID WHERE DistributionNo = @distribution_no
END

GO
/****** Object:  StoredProcedure [dbo].[sp_FinishedGoodsReceiveShow]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
CREATE PROCEDURE [dbo].[sp_FinishedGoodsReceiveShow]
		@receive_goods_no varchar(30)
AS
BEGIN
	SELECT     FinishedGoodsReceive.FinishedGoodsReceiveNo, FinishedGoodsReceive.FinishedGoodsReceiveDate, FinishedGoodsReceive.FinishedGoodsReceiveInvoiceNo, 
                      FinishedGoodsReceive.FinishedGoodsReceiveProdId, FinishedGoodsReceive.FinishedGoodsReceiveProdQty, FinishedGoodsReceive.FinishedGoodsReceiveRemarks, 
                      FinishedGoods.FinishedGoodsName, FactorySection.FactorySectionName, FactoryUnit.UnitName, FactoryFloor.FactoryFloorName
FROM         FinishedGoodsReceive INNER JOIN
                      FinishedGoods ON FinishedGoodsReceive.FinishedGoodsReceiveProdId = FinishedGoods.FinishedGoodsId INNER JOIN
                      FactoryUnit ON FinishedGoods.FinishedGoodsUnitId = FactoryUnit.UnitID INNER JOIN
                      FactorySection ON FinishedGoodsReceive.FinishedGoodsReceiveSectionId = FactorySection.FactorySectionId INNER JOIN
                      FactoryFloor ON FactorySection.FloorId = FactoryFloor.FactoryFloorId WHERE FinishedGoodsReceiveNo = @receive_goods_no
END

GO
/****** Object:  StoredProcedure [dbo].[sp_FinishedGoodsStockReport]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FinishedGoodsStockReport]
AS
BEGIN
	SELECT     FinishedGoods.FinishedGoodsId, FinishedGoods.FinishedGoodsName, FactoryUnit.UnitName, FinishedGoods.FinishedGoodsStock, FinishedGoods.FinishedGoodsDescription
FROM         FinishedGoods INNER JOIN
                      FactoryUnit ON FinishedGoods.FinishedGoodsUnitId = FactoryUnit.UnitID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PurchaseReportShow]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PurchaseReportShow]
	@purchase_no varchar(30)
AS
BEGIN
	SELECT     PurchaseRawMaterial.PurchaseNo, PurchaseRawMaterial.PurchaseDate, FactorySupplier.SupplierName, PurchaseRawMaterial.PurchaseSupplierInvoiceNo, 
                      PurchaseRawMaterial.PurchaseRemarks, PurchaseRawMaterial.PurchaseProductID, PurchaseRawMaterial.PurchaseProductPrice, PurchaseRawMaterial.PurchaseQuantity, 
                      PurchaseRawMaterial.PurchaseTotal, RawMaterial.RawMaterialName, FactoryUnit.UnitName
FROM         FactoryUnit INNER JOIN
                      RawMaterial ON FactoryUnit.UnitID = RawMaterial.RawMaterialUnitId INNER JOIN
                      PurchaseRawMaterial ON RawMaterial.RawMaterialId = PurchaseRawMaterial.PurchaseProductID INNER JOIN
                      FactorySupplier ON PurchaseRawMaterial.SupplierID = FactorySupplier.SupplierID WHERE  PurchaseRawMaterial.PurchaseNo = @purchase_no
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RawMaterialStockReport]    Script Date: 6/1/2017 3:31:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RawMaterialStockReport]
AS
BEGIN
	SELECT     RawMaterial.RawMaterialId, FactoryRawCategory.RawCategoryName, RawMaterial.RawMaterialName, FactoryUnit.UnitName, RawMaterial.RawMaterialPurPrice, 
                      RawMaterial.RawMaterialStock, RawMaterial.RawMaterialStock*RawMaterial.RawMaterialPurPrice AS "Total"
FROM         RawMaterial INNER JOIN
                      FactoryRawCategory ON RawMaterial.RawMaterialCatId = FactoryRawCategory.RawCategoryId INNER JOIN
                      FactoryUnit ON RawMaterial.RawMaterialUnitId = FactoryUnit.UnitID  ORDER BY FactoryRawCategory.RawCategoryName
END

GO
USE [master]
GO
